<div class="container-fluid text-center masthead merriweather">
    <div class="masthead-column">
        <h1 class="margin h1-font">Contact with me today</h1>
        <h2 class="margin h2-font">Feel free to reach out</h2>



    </div>
</div>




<section class="merriweather bg-contact">


    <div class="flex-div-column">


        <div class="flex-div col-lg-10 offset-lg-1">

            <div data-aos="fade-up" data-aos-once="true" class="col-md-6 col-sm-12 col-xs-12 example-card top-card mat-elevation-z8" (click)="openHiringEmailDialog()">




                <div style="padding:30px; text-align: left !important">

                    <h1 style="font-weight: bold">Hire me</h1>
                    <p>Are you looking to include raw talent to your company?<br> Need some potential to improve your business?</p>
                    <span class="span-contact">SEND INQUIRY</span>
                </div>

            </div>

            <div data-aos="fade-up" data-aos-once="true" class=" col-md-6 col-sm-12 col-xs-12 example-card top-card mat-elevation-z8" (click)="openGeneralEmailDialog()">

                <div style="padding:30px; text-align: left !important">

                    <h1 style="font-weight: bold">General Questions</h1>
                    <p class="">Feel free to ask me antyhing about the services I offer or even personal questions.</p>
                    <span class="span-contact">SAY SOMETHING</span>

                </div>
            </div>




        </div>




        <div data-aos="fade-up" data-aos-once="true" class=" col-md-6 col-sm-12 col-xs-12 example-card mat-elevation-z8 offset-md-3">

            <div style="padding:30px">

                <h1 style="font-weight: bold">Or reach out to me directly</h1>
                <h5 class=""> Call me at <label style="color: #007bff"> +34 610628216 </label> <br> Email me at <label style="color: #007bff">p.moraga.navas@gmail.com</label></h5>
            </div>
        </div>

    </div>

</section>