.bg-1 {
    background: url('../../../assets/images/landscape-filtered.jpg') no-repeat center;
    /* Green */
    height: 500px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}