.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.flex-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.flex-div>* {
    margin: 10px;
    width: 100%;
}

.flex-div-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/******/

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../../../assets/images/contact/masthead-contact.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
}

.masthead-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin-top: 10%;
    margin-left: 5%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.h1-font {
    font-size: 100px;
    color: #1A1A1A;
    -webkit-font-smoothing: subpixel-antialiased;
}

.h2-font {
    font-size: 60px;
    color: #1A1A1A;
    -webkit-font-smoothing: subpixel-antialiased;
}

.h1-card-font {
    font-size: 50px;
    color: #1A1A1A;
    -webkit-font-smoothing: subpixel-antialiased;
}

.h2-card-font {
    font-size: 30px;
    color: #1A1A1A;
    -webkit-font-smoothing: subpixel-antialiased;
}

.bg-contact {
    height: auto;
    min-height: 500px;
    background-color: #F0F0F0;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: #1A1A1A;
}

.example-card {
    background-color: white;
    text-align: center;
    color: #1A1A1A;
    border-radius: 5px;
}

.example-card>* {
    margin: 10px;
}

div.example-card:hover .example-card {
    background-color: #1A1A1A;
    color: bisque;
}

.top-card {
    position: relative;
    height: 250px;
    width: 400px;
}

.top-card:hover {
    background-color: #1A1A1A !important;
    color: white !important;
    cursor: pointer;
}

.span-contact {
    font-weight: bold;
    color: #007bff !important;
}
