<mat-card>
    <div id="container">

        <div class="inner-image">

            <img id="image" width="300" src="../../../assets/images/portfolio/projects/zennio.png"
                alt="VirtualiZen Broker" />
        </div>

        <div class="inner" id="text">
            <div class="image-caption-wrapper">
                <div class="image-caption">
                    <h1>Virtualizen Broker</h1>
                    <p><strong>Work Project</strong></p>
                    <button mat-button> <a href="/virtualizen-broker">VIEW PROJECT</a></button>

                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-card>
    <div id="container">

        <div class="inner-image ">

            <img id="image" src="../../../assets/images/portfolio/projects/angular.png"
                alt="Personal Website" />
        </div>

        <div class="inner" id="text">
            <div class="image-caption-wrapper">
                <div class="image-caption">
                    <h1>Personal Website Frontend</h1>
                    <p><strong>Personal Project</strong></p>
                    <button mat-button> <a href="">VIEW PROJECT</a></button>

                </div>
            </div>
        </div>
    </div>
</mat-card>


<div class="image-grid mat-elevation-z8">
    <div id="container">

        <div class="inner-image ">

            <img id="image" src="../../../assets/images/portfolio/projects/angular.png"
                alt="Personal Website" />
        </div>

        <div class="inner" id="text">
            <div class="image-caption-wrapper">
                <div class="image-caption">
                    <h1>Personal Website Frontend</h1>
                    <p><strong>Personal Project</strong></p>
                    <button mat-button> <a href="">VIEW PROJECT</a></button>

                </div>
            </div>
        </div>
    </div>

</div>