<section id="portfolio-squarespace" class="Index-page" data-collection-id="584710962994ca881540a2fd" data-parallax-id="584710962994ca881540a2fd" data-edit-main-image="Background">

    <div class="Index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1546026033161" id="page-584710962994ca881540a2fd">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_36_1481120264104_15109">
                        <div class="sqs-block-content">
                            <h1 style="text-align: center; white-space: pre-wrap;">Squarespace Projects</h1>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1546025863582_16512">
                                <div class="sqs-block-content">




                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none">

                                        <div class="intrinsic" style="max-width:600.0px;">

                                            <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="&lt;p&gt;&lt;em&gt;Squarespace Website&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Elementary&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/elementary-coffee-co&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript><img src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5c267baa70a6adae0b0de0da/1546025981711/Squarespace+Coffee+Shop+Website+Project" alt="Squarespace Website    Elementary    View Project" /></noscript><img
                                                    class="thumb-image" data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5c267baa70a6adae0b0de0da/1546025981711/Squarespace+Coffee+Shop+Website+Project" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5c267baa70a6adae0b0de0da/1546025981711/Squarespace+Coffee+Shop+Website+Project"
                                                    data-image-dimensions="600x600" data-image-focal-point="0.5,0.5" alt="Squarespace Website    Elementary    View Project" data-load="false" data-image-id="5c267baa70a6adae0b0de0da" data-type="image" />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p><em>Squarespace Website</em></p>
                                                    <p><strong>Elementary</strong></p>
                                                    <p><a href="/elementary-coffee-co">View Project</a></p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_25_1512785496987_28864">
                                <div class="sqs-block-content">




                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none">

                                        <div class="intrinsic" style="max-width:600.0px;">

                                            <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="&lt;p&gt;&lt;em&gt;Squarespace Website&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Trail Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/photographers-trail-notes&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript><img src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5a2b6105652dea32996df849/1546025993544/Squarespace+Photographer+Website+Project" alt="Squarespace Website    Trail Notes    View Project" /></noscript><img
                                                    class="thumb-image" data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5a2b6105652dea32996df849/1546025993544/Squarespace+Photographer+Website+Project" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5a2b6105652dea32996df849/1546025993544/Squarespace+Photographer+Website+Project"
                                                    data-image-dimensions="600x600" data-image-focal-point="0.5,0.5" alt="Squarespace Website    Trail Notes    View Project" data-load="false" data-image-id="5a2b6105652dea32996df849" data-type="image" />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p><em>Squarespace Website</em></p>
                                                    <p><strong>Trail Notes</strong></p>
                                                    <p><a href="/photographers-trail-notes">View Project</a></p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-70834fe8cb8811838f47">
                                <div class="sqs-block-content">


                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover combination-animation-none individual-animation-none individual-text-animation-none design-layout-inline">

                                        <div class="intrinsic" style="max-width:600.0px;">

                                            <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="&lt;p&gt;&lt;em&gt;Squarespace Website&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Jason Klock&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/jason-klock&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript><img src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/584710962994ca881540a2fa/1480956179546/Squarespace+Portfolio+DJ+Jason+Klock" alt="Squarespace Website    Jason Klock    View Project" /></noscript><img
                                                    class="thumb-image" data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/584710962994ca881540a2fa/1480956179546/Squarespace+Portfolio+DJ+Jason+Klock" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/584710962994ca881540a2fa/1480956179546/Squarespace+Portfolio+DJ+Jason+Klock"
                                                    data-image-dimensions="600x600" data-image-focal-point="0.5,0.5" alt="Squarespace Website    Jason Klock    View Project" data-load="false" data-image-id="584710962994ca881540a2fa" data-type="image" />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p><em>Squarespace Website</em></p>
                                                    <p><strong>Jason Klock</strong></p>
                                                    <p><a href="/jason-klock">View Project</a></p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_25_1512785496987_36210">
                                <div class="sqs-block-content">




                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none">

                                        <div class="intrinsic" style="max-width:600.0px;">

                                            <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="&lt;p&gt;&lt;em&gt;Squarespace Website&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dray Now&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/draynow&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript><img src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5a2b615e0852298afcad890c/1512792438099/Squarespace+Trucking+Website+Project" alt="Squarespace Website    Dray Now    View Project" /></noscript><img
                                                    class="thumb-image" data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5a2b615e0852298afcad890c/1512792438099/Squarespace+Trucking+Website+Project" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/5a2b615e0852298afcad890c/1512792438099/Squarespace+Trucking+Website+Project"
                                                    data-image-dimensions="600x600" data-image-focal-point="0.5,0.5" alt="Squarespace Website    Dray Now    View Project" data-load="false" data-image-id="5a2b615e0852298afcad890c" data-type="image" />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p><em>Squarespace Website</em></p>
                                                    <p><strong>Dray Now</strong></p>
                                                    <p><a href="/draynow">View Project</a></p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_6_1481052120404_8861">
                                <div class="sqs-block-content">




                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none">

                                        <div class="intrinsic" style="max-width:600.0px;">

                                            <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="&lt;p&gt;&lt;em&gt;Squarespace Website&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Andy Potts&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/andy-potts-racing&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript><img src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/58472e6259cc68abc5121fd9/1481059948598/" alt="Squarespace Website    Andy Potts    View Project" /></noscript><img class="thumb-image"
                                                    data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/58472e6259cc68abc5121fd9/1481059948598/" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/58472e6259cc68abc5121fd9/1481059948598/"
                                                    data-image-dimensions="600x600" data-image-focal-point="0.5,0.5" alt="Squarespace Website    Andy Potts    View Project" data-load="false" data-image-id="58472e6259cc68abc5121fd9" data-type="image" />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p><em>Squarespace Website</em></p>
                                                    <p><strong>Andy Potts</strong></p>
                                                    <p><a href="/andy-potts-racing">View Project</a></p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-753515a761c7c93c3990">
                                <div class="sqs-block-content">


                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover combination-animation-none individual-animation-none individual-text-animation-none design-layout-inline">

                                        <div class="intrinsic" style="max-width:600.0px;">

                                            <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="&lt;p&gt;&lt;em&gt;Squarespace Website&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nxt Level Atx&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/next-level-athletix&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript><img src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/584710962994ca881540a2fb/1480956098411/Squarespace+Portfolio+Next+Level+Athletix" alt="Squarespace Website    Nxt Level Atx    View Project" /></noscript><img
                                                    class="thumb-image" data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/584710962994ca881540a2fb/1480956098411/Squarespace+Portfolio+Next+Level+Athletix" data-image="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/584710962994ca881540a2fb/1480956098411/Squarespace+Portfolio+Next+Level+Athletix"
                                                    data-image-dimensions="600x600" data-image-focal-point="0.5,0.5" alt="Squarespace Website    Nxt Level Atx    View Project" data-load="false" data-image-id="584710962994ca881540a2fb" data-type="image" />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p><em>Squarespace Website</em></p>
                                                    <p><strong>Nxt Level Atx</strong></p>
                                                    <p><a href="/next-level-athletix">View Project</a></p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</section>