.flex-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.flex-div > * {
  margin: 10px;
  width: 100%;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.masthead {
  height: auto;
  min-height: 100vh;
  background-image: url("../../../assets/images/portfolio/masthead-portfolio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
}

.masthead-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  margin-top: 10%;
  margin-left: 5%;
}

.h1-font {
  font-size: 100px;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
}

.h2-font {
  font-size: 80px;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
}

.bg-portfolio-text {
  height: 500px;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: #1a1a1a;
}
/****PROJECTS*****/

.bg-projects {
  min-height: 500px;
  height: auto;
  background-color: #f0f0f0;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: #1a1a1a;
  padding: 40px;
}

.h1-card-font {
  font-size: 50px;
  color: #1a1a1a;
  -webkit-font-smoothing: subpixel-antialiased;
}

.h2-card-font {
  font-size: 30px;
  color: #1a1a1a;
  -webkit-font-smoothing: subpixel-antialiased;
}

.mat-button {
  color: #007bff;
  border: 1px solid #1a1a1a;
  background-color: white;
  visibility: hidden;
}

/*******************************************
    ***********************************
    ***********************
    **************************************
    ********************************************/

#projects .row > div {
  margin-bottom: 30px;
}

#projects figure {
  position: relative;
  overflow: hidden;
}

#projects figure h3 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 2px;
}

#projects figure p > strong {
  width: 60px;
  display: inline-block;
  margin: 0px;
}

#projects figure img {
  width: 110%;
}

#projects figure figcaption {
  padding: 20px 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#projects figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
  background: rgb(0, 0, 0);
  color: #fff;
  border-radius: 2px;
}

figure.effect img {
  width: 600;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect:hover img {
  opacity: 0.2;
  filter: blur(3px);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect:hover .mat-button {
  visibility: visible;
}

figure.effect figcaption {
  text-align: center;
}

figure.effect h3 {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
  opacity: 1;
}

figure.effect h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

figure.effect:hover h3::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect p {
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

figure.effect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/************/

.tools-flex {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tools-flex > * {
  margin: 10px;
  flex: 1 0 33%;
  max-width: 600px;
}

.btn-masthead {
  margin-top: 40px;
  margin-left: 10%;
}

.responsive-image {
  height: auto;
}

.icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon i {
  font-size: 30px;
  color: #007bff;
}

/***********




RESIZING






****************/

@media (max-width: 500px) {
  .masthead-column {
    flex-wrap: wrap;
  }

  .btn-masthead {
    margin-top: 20px !important;
    margin: 0 auto;
  }

  .h1-font {
    font-size: 70px;
  }

  .h2-font {
    font-size: 40px;
  }

  .bg-projects {
    flex-wrap: wrap;
  }
  .flex-div {
    flex-wrap: wrap;
  }

  figure {
    font-size: 10px;
  }

  figure h3 {
    font-size: 14px;
  }

  .project-btn {
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  figure {
    max-width: 600px;
    margin: 0 auto;
  }
  .bg-projects {
    flex-wrap: wrap;
  }
  .flex-div {
    flex-wrap: wrap;
  }
}
