<div class="container-fluid text-center masthead merriweather">
    <div class="masthead-column">
        <h1 class="margin h1-font">My Portfolio</h1>
        <h2 class="margin h2-font"> Work and personal projects</h2>
        <button mat-raised-button style="margin-top: 40px; margin-left: 10%"><a
                style="text-decoration: none; color: #1A1A1A" target="_blank" rel="noopener noreferrer"
                href="https://github.com/PabloMoragaN"> Visit my GitHub Page<i style="margin: 5px"
                    class="fab fa-github"></i></a> </button>
    </div>


</div>

<section class="merriweather bg-portfolio-text">
    <div>
        <h2> I'm a recently graduated Software Engineer</h2>
    </div>

    <div style="margin-top: -15%">

        <h4 style="margin-bottom: 30px;"> I've worked in frontend and backend development, managed distributed systems
            and tested them. </h4>

    </div>

</section>





<section class="merriweather bg-projects">
    <div>
        <h1> My Projects</h1>
    </div>





    <div id="projects" class="tools-flex">




        <div data-aos="fade-up" data-aos-once="true" class="col-md-6 col-sm-12 col-xs-12 ">
            <figure class="effect mat-elevation-z8">
                <img src="../../../assets/images/portfolio/projects/virtualizen-broker-600.PNG"
                    alt="VirtualiZen Broker" />

                <figcaption>
                    <h3>VirtualiZen Broker</h3>
                    <p>A virtual KNX Devices configuration system </p>
                    <p><strong>Tags:</strong> <br /> Angular - Node.js - Electron.js - Socket.io - Bootstrap</p>

                    <button mat-button><a href="/virtualizen-broker" target="_blank"></a>VIEW PROJECT</button>

                </figcaption>
            </figure>
        </div>

        <div data-aos="fade-up" data-aos-once="true" class="col-md-6 col-sm-12 col-xs-12 ">
            <figure class="effect mat-elevation-z8">
                <img src="../../../assets/images/portfolio/projects/pmoraga-website-600.PNG" alt="Website Frontend" />

                <figcaption>
                    <h3>My Website Frontend</h3>
                    <p>Designed and created by me</p>
                    <p><strong>Tags:</strong> <br />Angular - Bootstrap</p>
                    <button mat-button><a href="/pmoraga-website-frontend" target="_blank"></a>VIEW PROJECT</button>

                </figcaption>
            </figure>
        </div>


        <div data-aos="fade-up" data-aos-once="true" class="col-md-6 col-sm-12 col-xs-12 ">
            <figure class="effect mat-elevation-z8">
                <img src="../../../assets/images/portfolio/projects/server-600.PNG" alt="Website Backend" />

                <figcaption>
                    <h3>My Website Backend</h3>
                    <p>Designed and created by me</p>
                    <p><strong>Tags:</strong> <br />Node.js - Express.js</p>
                    <button mat-button><a (click)="openWarningGeneric()"></a>VIEW PROJECT</button>

                </figcaption>
            </figure>
        </div>


    </div>

</section>




<!-- <img src="../../../assets/images/logo.png" alt="Personal Website" />


            <div class="image-caption-wrapper">
                <div class="image-caption">
                    <h1>Personal Website Frontend</h1>
                    <p><strong>Elementary</strong></p>
                    <button mat-button> <a href="/virtualizen-broker">VIEW PROJECT</a></button>

                </div>
            </div>-->