    .flex-div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    
    .flex-div>* {
        margin: 10px;
        width: 100%;
    }
    
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .masthead {
        height: 100vh;
        min-height: 500px;
        background-image: url('../../../assets/images/portfolio/masthead-portfolio.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: visible;
    }
    
    .masthead-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        align-content: center;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    .h1-font {
        font-size: 100px;
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    
    .h2-font {
        font-size: 80px;
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    
    .bg-portfolio-text {
        height: 500px;
        -webkit-font-smoothing: subpixel-antialiased;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        color: #1A1A1A;
    }
    /****PROJECTS*****/
    
    .bg-projects {
        height: 500px;
        background-color: #F0F0F0;
        -webkit-font-smoothing: subpixel-antialiased;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        color: #1A1A1A;
    }
    
    .h1-card-font {
        font-size: 50px;
        color: #1A1A1A;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    
    .h2-card-font {
        font-size: 30px;
        color: #1A1A1A;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    
    .mat-button {
        color: #007bff;
        border: 1px solid #1A1A1A;
        background-color: white;
        visibility: hidden;
    }
    /*******************************************




   



PHP


    **********************************/
    /* #projects .row { margin: 0px; } // bootstrap 3.1- hack */
    
    #projects .row>div {
        margin-bottom: 30px;
    }
    
    #projects figure {
        position: relative;
        overflow: hidden;
    }
    
    #projects figure h3 {
        color: #FFF;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    #projects figure p>strong {
        width: 60px;
        display: inline-block;
        margin: 0px;
    }
    
    #projects figure img {
        width: 110%;
    }
    
    #projects figure figcaption {
        padding: 20px 30px;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
    
    #projects figure a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
    /*---------------*/
    /***** EFFECT *****/
    /*---------------*/
    
    figure.effect {
        background: rgb(0, 0, 0);
        color: #FFF;
        border-radius: 2px;
    }
    
    figure.effect img {
        width: 600;
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    figure.effect:hover img {
        opacity: 0.2;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    figure.effect:hover .mat-button {
        visibility: visible;
    }
    
    figure.effect figcaption {
        text-align: center;
    }
    
    figure.effect h3 {
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    
    figure.effect:hover h3 {
        opacity: 1;
    }
    
    figure.effect h3::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        content: '';
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    
    figure.effect:hover h3::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    figure.effect p {
        padding-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    
    figure.effect:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }