<div class="container-fluid text-center masthead merriweather">
    <div class="masthead-column">
        <h1 class="margin h1-font">My Portfolio</h1>
        <h2 class="margin h2-font"> Work and personal projects</h2>
        <button mat-raised-button style="margin-top: 40px; margin-left: 10%"><a style="text-decoration: none; color: #1A1A1A" target="_blank" rel="noopener noreferrer" href="https://github.com/PabloMoragaN"> Visit my GitHub Page<i style="margin: 5px"class="fab fa-github"></i></a> </button>
    </div>


</div>

<section class="merriweather bg-portfolio-text">
    <div>
        <h2> I'm a recent graduated Software Engineer</h2>
    </div>

    <div style="margin-top: -15%">

        <h4 style="margin-bottom: 30px;"> I've worked in frontend and backend development, managed distributed systems and tested them. </h4>

    </div>

</section>





<section class="merriweather bg-projects">
    <div>
        <h1> My Projects</h1>
    </div>


    <div class="flex-div">

        <mat-card>
            <div id="container">

                <div class="inner-image">

                    <img id="image" width="300" src="../../../assets/images/portfolio/projects/zennio.png" alt="VirtualiZen Broker" />
                </div>

                <div class="inner" id="text">
                    <div class="image-caption-wrapper">
                        <div class="image-caption">
                            <h1>Virtualizen Broker</h1>
                            <p><strong>Work Project</strong></p>
                            <button mat-button> <a href="/virtualizen-broker">VIEW PROJECT</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card>
            <div id="container">

                <div class="inner-image">

                    <img id="image" src="../../../assets/images/portfolio/projects/angular.png" alt="Personal Website" />
                </div>

                <div class="inner" id="text">
                    <div class="image-caption-wrapper">
                        <div class="image-caption">
                            <h1>Personal Website Frontend</h1>
                            <p><strong>Personal Project</strong></p>
                            <button mat-button> <a href="">VIEW PROJECT</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </mat-card>


    </div>

</section>




<!-- <img src="../../../assets/images/logo.png" alt="Personal Website" />


            <div class="image-caption-wrapper">
                <div class="image-caption">
                    <h1>Personal Website Frontend</h1>
                    <p><strong>Elementary</strong></p>
                    <button mat-button> <a href="/virtualizen-broker">VIEW PROJECT</a></button>

                </div>
            </div>-->