<div class="container-fluid text-center bg-1 merriweather">

    <h1 class="margin h1-font">About Me</h1>
</div>

<section class="merriweather bg-resume">
    <div>
        <h2> What I've done and what i can do</h2>
    </div>

    <div style="margin-top: -20%">

        <h4 style="margin-bottom: 30px;"> Take a look at what I've done over the short span of my professional career. </h4>
        <button class="button-CV" type="button" mat-raised-button> Download my Resume</button>

    </div>

</section>

<section class="merriweather bg-location ">
    <div class="flex-div">
        <div>
            <img src="../../../assets/images/about/toledo-vertical.jpg" height="600">
        </div>
        <div>
            <h2>Facts about myself</h2>

            <h4>I currently live in Toledo Spain due to work but my hometown is Ciudad Real. I love coffee, videogames, basketball and I wear headphones around 10 hours a day. It took me a while to know what I really wanted to do with my life but I got it
                by now.
            </h4>

        </div>
    </div>

</section>

<section class="merriweather bg-skills">

    <div class="flex-div">
        <div>
            <h2>Skills</h2>
        </div>

        <div class="technical-skills">

            <!---Skill column--->
            <div>
                <div class="skill">
                    <label>Spanish</label>
                    <spinner-container diameter="60" strokeWidth="5" value="100" [displayWith]="spinnerValue"></spinner-container>
                </div>

                <div class="skill">
                    <label>English</label>
                    <spinner-container diameter="60" strokeWidth="5" value="85" [displayWith]="spinnerValue"></spinner-container>
                </div>


            </div>

            <!---Skill column--->
            <div>
                <div class="skill">
                    <label> Software / Hardware QA</label>
                    <spinner-container diameter="60" strokeWidth="5" value="60" [displayWith]="spinnerValue"></spinner-container>
                </div>

                <div class="skill">
                    <label> Web Development</label>
                    <spinner-container diameter="60" strokeWidth="5" value="65" [displayWith]="spinnerValue"></spinner-container>
                </div>


            </div>

        </div>

    </div>
</section>

<section class="merriweather bg-social-media">
    <div>
        <h2> Follow me on Social Media</h2>
    </div>

    <div style="margin-top: -20%">
        <div class="social-media-buttons">
            <a target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/pablo-moraga-navas-4747b7155"> <i class="fab fa-linkedin-in"></i> </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"><i class="fab fa-instagram"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"><i class="fab fa-twitter"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"> <i class="fab fa-facebook-f"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/PabloMoragaN"><i class="fab fa-github"></i></a>
        </div>
    </div>

</section>