<div class="container open-sans info-div">
    <div class="row">
        <div class="col-lg-7">
            <div>
                <p>
                    Recently graduated professional with internship experience in SOFTWARE TESTING, WEB DEVELOPMENT, PROJECT MANAGEMENT and HARDWARE INTEGRATION. Seeking to take the next step in my career with a future oriented perspective, open to new possibilities and
                    career options.

                </p>
            </div>
        </div>
    </div>
</div>