.container-fluid {
    padding-top: 30px;
    padding-bottom: 50px;
}

.mat-dialog-content {
    width: auto;
    min-width: 100vh;
    height: auto;
    min-height: 60vh;
}

.mat-button {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}

@media (max-width: 500px) {

    .mat-dialog-content{
        height: 100%;
        width: 100%;
    }

}