<div class="container-fluid text-center merriweather masthead">

    <h3 [@fadeInOut] class="margin">Who Am I?</h3>
    <img [@fadeInOut] src="../../../assets/images/circular.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="250" height="250">
    <div [@fadeInOut]>
        <h1 class="muli">- PABLO MORAGA NAVAS -</h1>
        <h2> Software Engineer</h2>
    </div>
</div>


<div class="container-fluid merriweather bg-profile">
    
        <div data-aos="fade-right" data-aos-once="true" class="col-sm-4" style="text-align: center">
            <i class="fas fa-9x fa-user-alt"></i>
        </div>
        <div data-aos="fade-left" data-aos-once="true" class="col-sm-8">
            <h2>Profile</h2>
            <h4 style="font-size: 20px">Recently graduated professional with internship experience in <strong>SOFTWARE TESTING</strong>, <strong>WEB DEVELOPMENT</strong>, <strong>PROJECT MANAGEMENT</strong> and <strong>HARDWARE INTEGRATION</strong>.
                <br> Seeking to take the next step in my career with a future oriented perspective, open to new possibilities and career options.
            </h4>

        </div>
   
</div>