<div class="container-fluid text-center masthead merriweather ">
    <div class="masthead-column col-md-6 offset-md-3">
        <h1 class="margin h1-font">VirtualiZen Broker</h1>

    </div>


</div>






<section class="merriweather bg-zennio-background">

    <div class="col-md-8 offset-md-2">

        <div class=" row">
            <div class="col-md-3">

                <img class="image-size" src="../../../../assets/images/portfolio/projects/zennio.png">
                <br>

                <span class="experience-details">
                    <span class="location">
                        <span style="margin-right: 5px"> <i class="fas fa-map-marker-alt"></i> </span>
                        Toledo, Spain
                    </span>


                    <br>

                    <span class="link">
                        <span style="margin-right: 5px"><i class="fas fa-link"></i></span>
                        <a href="https://www.zennio.com/" target="_blank">https://www.zennio.com</a>
                    </span>



                </span>
            </div>

            <div class="col-md-8 offset-md-1">
                <div>
                    <figure>
                        <p style="font-size: 20px"><i>"Zennio is a global specialist in manufacturing KNX automation
                                solutions. We offer a wide variety
                                of solutions and attractive designs, installed in a large number of flagship projects,
                                nationally and internationally."
                            </i>
                        </p>
                        <figcaption>Description from Zennio's webpage</figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </div>

</section>



<section class="merriweather bg-zennio-intro">

    <div class="col-md-8 offset-md-2">
        <h4 class="margin h4-font"> Zennio S.L. presented this project to me as an intership enterprise in order to
            create inexpensive testing enviroments for their domotic physical devices and domotic software aplications.
        </h4>
        <br>
        <h4 class="margin h4-font">
            Through an especial program called FORTE agreed between Escuela Superior Informática (UCLM) and Zennio and
            after several entry tests I was able to
            enter Zennio as an intern in the QA Department.
        </h4>
        <br>

        <h4 class="margin h4-font">
            This intership allowed me to acquire experience working with mixed software-hardware systems and finish my
            degree studies by finalizing
            my Degree Final Project with Zennio.
        </h4>




    </div>

</section>

<section class="merriweather bg-broker-intro">

    <div class="col-md-8 offset-md-2" data-aos="zoom-in" data-aos-once="true">
        <h4 class="margin h4-font"> My main task at Zennio was to develop a distributed system using Raspberry Pi
            devices and a management app that
            would be used to build and configure complex hotel integrations that use virtualized KNX Devices.
        </h4>
        <br>
        <h4 class="margin h4-font">
            With this approach the need of expensive KNX Devices in order to test software applications is non-existant.
            The principal idea is to build virtual KNX
            environments that can vary from a simple room to a one thousand rooms hotel, all in a simple and cheap
            Raspberry Pi system.
        </h4>
        <br>

        <h4 class="margin h4-font">
            Using SCRUM as work and project management methodology I took upon this project that would become my Final
            Degree Disertation.
        </h4>
    </div>

</section>


<section class="merriweather bg-broker-arch">

    <div  data-aos="fade-down" data-aos-once="true">
        <h4 class="h4-font"> The main technologies used in this project are:
        </h4>

    </div>


    <div class="flex-technologies">

        <div data-aos="fade-up" data-aos-once="true">
            <img height="150" src="../../../../assets/images/portfolio/projects/nodejs.png">
        </div>

        <div data-aos="fade-up" data-aos-once="true">

            <img height="200" src="../../../../assets/images/portfolio/projects/angular-logo.png">
        </div>

        <div data-aos="fade-up" data-aos-once="true">
            <img height="150" src="../../../../assets/images/portfolio/projects/socketio.png">
        </div>

        <div data-aos="fade-up" data-aos-once="true">
            <img height="150" src="../../../../assets/images/portfolio/projects/sequelize-logo-2.png">
        </div>

        <div data-aos="fade-up" data-aos-once="true">
            <img height="150" src="../../../../assets/images/portfolio/projects/sqlite-logo.png">
        </div>

    </div>

    <div class="flex-technologies">

        <div data-aos="fade-up" data-aos-once="true">
            <img height="200" src="../../../../assets/images/portfolio/projects/bootstrap-logo.png">
        </div>

      
        <div data-aos="fade-up" data-aos-once="true">
            <img height="150" src="../../../../assets/images/portfolio/projects/electron-logo.png">
        </div>

        

    </div>

</section>