<div class="wrapper">
    <header class="page-header">
        <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start raleway">
            <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a routerLink="/home"><img height="50px" src="../assets/images/logo.png"></a>
            <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                <ul class="navbar-nav navbar-center mx-auto text-center text-left">


                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="activado">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="activado">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/portfolio" routerLinkActive="activado">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/resume" routerLinkActive="activado">RESUME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="activado">CONTACT</a>
                    </li>
                </ul>


                <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/pablo-moraga-navas-4747b7155">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" (click)="openEmailDialog()"><i class="far fa-envelope"></i></a> </li>

                </ul>
                <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                    <li class="nav-item">
                        <mat-form-field>
                            <mat-select [(value)]="language" (selectionChange)="selectLanguage($event)">
                                <mat-select-trigger>
                                    <i *ngIf="language==='english'" class="flag-icon flag-icon-gb"> </i>
                                    <i *ngIf="language==='spanish'" class="flag-icon flag-icon-es"> </i>

                                </mat-select-trigger>


                                <mat-option value="english"><i class="flag-icon flag-icon-gb"></i> ENG</mat-option>

                                <mat-option value="spanish"><i class="flag-icon flag-icon-es"></i> ES</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="page-main">
        <router-outlet></router-outlet>
    </div>
    <scroll-top></scroll-top>
    <footer class="page-footer">
        <h2 class="merriweather">Allow me to progress in my career
        </h2>


        <div class="nav-footer roboto">

            <a routerLink="/home" routerLinkActive="activado">HOME</a>
            <a routerLink="/about" routerLinkActive="activado">ABOUT</a>
            <a routerLink="/portfolio" routerLinkActive="activado">PORTFOLIO</a>
            <a routerLink="/resume" routerLinkActive="activado">RESUME</a>
            <a routerLink="/contact" routerLinkActive="activado">CONTACT</a>
        </div>



        <div class="flex-div-row">
            <div class="social-media-buttons">
                <a target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/pablo-moraga-navas-4747b7155"> <i class="fab fa-linkedin-in"></i> </a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"><i class="fab fa-instagram"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"><i class="fab fa-twitter"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://es-es.facebook.com/pablo.moraganavas"> <i class="fab fa-facebook-f"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/PabloMoragaN"><i class="fab fa-github"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/user/alter345?si=hhCfZGeQR3WfK49hGI6Amw"><i class="fab fa-spotify"></i></a>

                <a (click)="openEmailDialog()"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <label class="roboto">©2019 Pablo Moraga Navas. All rights reserved.</label>


    </footer>

</div>

<!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-gb"> </span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown09">
                            <a class="dropdown-item" href="#gb"><span class="flag-icon flag-icon-gb"> </span> </a>
                            <a class="dropdown-item" href="#es"><span class="flag-icon flag-icon-es"> </span>  </a>
                        </div>
                    </li>-->

<!--flex-row justify-content-md-center justify-content-start flex-nowrap-->



<!-----

<ul class="nav flex-row justify-content-md-center justify-content-start flex-nowrap">


                    <li class="nav-item">

                        <mat-form-field>
                            <mat-select [(value)]="language" (selectionChange)="selectLanguage($event)">
                                <mat-select-trigger>
                                    <i *ngIf="language==='english'" class="flag-icon flag-icon-gb"> </i>
                                    <i *ngIf="language==='spanish'" class="flag-icon flag-icon-es"> </i>

                                </mat-select-trigger>
                                <mat-option value="english"><i class="flag-icon flag-icon-gb"></i> ENG</mat-option>
                                <mat-option value="spanish"><i class="flag-icon flag-icon-es"></i> ES</mat-option>
                            </mat-select>
                        </mat-form-field>


                    </li>
                </ul>

-->