<div class="wrapper">
    <header class="page-header">
        <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start capriola">
            <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                <ul class="navbar-nav mx-auto text-md-center text-left">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="activado">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="activado">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/portfolio" routerLinkActive="activado">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/resume" routerLinkActive="activado">RESUME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="activado">CONTACT</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/pablo-moraga-navas-4747b7155">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" (click)="openEmailDialog()"><i class="far fa-envelope"></i></a> </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="page-main">
        <router-outlet></router-outlet>
    </div>

    <footer class="page-footer">
        <h1 class="merriweather">Allow me to progress in my career</h1>

        <div class="flex-div-row">
            <div class="social-media-buttons">
                <a target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/pablo-moraga-navas-4747b7155"> <i class="fab fa-linkedin-in"></i> </a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"><i class="fab fa-instagram"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"><i class="fab fa-twitter"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/paablomn/?hl=es"> <i class="fab fa-facebook-f"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/PabloMoragaN"><i class="fab fa-github"></i></a>
                <a (click)="openEmailDialog()"><i class="fas fa-envelope"></i></a>




            </div>
        </div>
        <label class="roboto">©2019 Pablo Moraga Navas. All rights reserved.</label>

    </footer>

</div>