@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.roboto {
    font-family: 'Roboto', sans-serif;
}

.capriola {
    font-family: 'Capriola', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}


/****

INPUT


***/

.mat-form-field-label {
    color: black !important;
}

.mat-form-field-underline {
    background-color: black !important;
}

.mat-form-field-ripple {
    background-color: transparent !important;
}

.mat-select-arrow {
    color: #007bff !important;
}

.mat-option:hover {
    color: #007bff;
}