<div class="container-fluid text-center masthead raleway ">
  <div class="masthead-column col-md-6 offset-md-3">
    <h1 class="margin h1-font">My Website</h1>

  </div>


</div>


<section class="merriweather bg-website-background">

  <div data-aos="zoom-in" data-aos-once="true" class="col-md-8 offset-md-2">

    <div class=" row">
      <div class="col-md-3">

        <img class="image-size" src="../../../../assets/images/logo.png">

      </div>

      <div class="col-md-8 offset-md-1 raleway" style="display: flex; align-items: center">
        <h4 class="h4-font">
          This webpage was designed in order to have an interactive resume.
          <br>

          This site would help you know me, contact me and evaluate my work.

        </h4>
      </div>
    </div>

  </div>

</section>


<section class="raleway bg-broker-arch">

    <div  data-aos="fade-down" data-aos-once="true">
        <h4 class="h4-font"> The main technologies used in this project are:
        </h4>

    </div>


    <div class="flex-technologies">

     
        <div data-aos="fade-up" data-aos-once="true">

            <img height="300" src="../../../../assets/images/portfolio/projects/angular-logo.png">
        </div>

  
        <div data-aos="fade-up" data-aos-once="true">
            <img height="300" src="../../../../assets/images/portfolio/projects/bootstrap-logo.png">
        </div>

      
       
      </div>

        

    

</section>