@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.roboto {
    font-family: 'Roboto', sans-serif;
}

.capriola {
    font-family: 'Capriola', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.muli{
    font-family: 'Muli', sans-serif;
    font-size: 70px;
    font-weight: bold;
}
