@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-form-field-label {
    color: black !important;
}

.mat-form-field-underline {
    background-color: black !important;
}

.mat-form-field-ripple {
    background-color: transparent !important;
}

.mat-select {
    width: 100%;
}

.mat-select-arrow {
    color: #1A1A1A !important;
}

.mat-option-text:hover {
    color: #007bff;
}

.mat-option-text {
    color: #1A1A1A;
}


/****


Button 


Colors 


*******/

.mat-border-blue {
    background-color: white;
    color: #007bff;
    border-color: #007bff;
}

.mat-scroll-button {
    background-color: #007bff;
    color: white;
}

.mat-matbutton-success {
    background-color: #28A745;
    color: white;
}

.mat-matbutton-blue {
    background-color: #007bff;
    color: white;
}

.mat-matbutton-dup {
    background-color: #FC6D26;
    color: white;
}

.mat-matbutton-warning {
    background-color: orange;
    color: white;
}

.mat-matbutton-danger {
    background-color: #e41e1e;
    color: white;
}


/******
Spinner y progress bar

***/

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #007bff;
}


/******

NO OUTLINE ON BUTTON CLICK

******/

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
}


/**
RADIO BUTTONS COLORS
***/

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    /*click effect color change*/
    background-color: #007bff !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #007bff !important;
    /*inner circle color change*/
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #007bff !important;
    /*outer ring color change*/
}


/***** 

MAT FORM OUTLINE COLOR

******/

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #1A1A1A;
}

.mat-card-title {
    text-align: center;
}