@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-form-field-label {
    color: black !important;
}

.mat-form-field-underline {
    background-color: black !important;
}

.mat-form-field-ripple {
    background-color: transparent !important;
}

.mat-select {
    width: 100%;
}

.mat-select-arrow {
    color: #1A1A1A !important;
}

.mat-option-text:hover {
    color: #007bff;
}

.mat-option-text {
    color: #1A1A1A;
}


/****


Button 


Colors 


*******/

.mat-border-blue {
    background-color: white;
    color: #007bff;
    border-color: #007bff;
}

.mat-matbutton-success {
    background-color: #28A745;
    color: white;
}

.mat-matbutton-blue {
    background-color: #007bff;
    color: white;
}

.mat-matbutton-dup {
    background-color: #FC6D26;
    color: white;
}

.mat-matbutton-warning {
    background-color: orange;
    color: white;
}

.mat-matbutton-danger {
    background-color: #e41e1e;
    color: white;
}


/******
Spinner y progress bar

***/

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #007bff;
}