.container-fluid {
  padding-top: 30px;
  padding-bottom: 50px;
}

.flex-div-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-div-row {
  display: flex;
  justify-content: space-around;
}

.flex-div-row > * {
  width: 100%;
}

.flex-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.flex-div > * {
  width: 100%;
}

mat-label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.mat-button {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
}

.mat-dialog-content {
  min-width: 600px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

@media (max-width: 500px) {
  .flex-div {
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .flex-div {
    flex-wrap: wrap;
  }
}
