<h1 mat-dialog-title>EMAIL ME</h1>

<div class="container-fluid merriweather">


    <form [formGroup]="_sendEmailForm" (submit)="submitEmail()" id="formSendEmail" autocomplete="off">
        <div mat-dialog-content>
            <div class="flex-div-column">
            <div class="flex-div-row">
                <mat-form-field floatLabel="always">
                    <input formControlName="name" matInput placeholder="Name" type="text">
                </mat-form-field>

                <mat-form-field floatLabel="always">
                    <input formControlName="email" matInput placeholder="Email" type="email">
                </mat-form-field>
            </div>

            <div class="flex-div-row">
                <mat-form-field floatLabel="always">
                    <textarea matInput formControlName="comment" placeholder="Comment"></textarea>
                </mat-form-field>
            </div>
        </div>

        </div>
        <div mat-dialog-actions>
            <button type="button" mat-button (click)="closeDialog()">No Thanks</button>
            <button type="submit" [disabled]="!_sendEmailForm.valid" mat-raised-button>Send</button>
        </div>
    </form>


</div>
