<div class="container-fluid text-center masthead merriweather">
    <div class="masthead-column">
        <h1 class="margin h1-font">My Resume</h1>
        <h2 class="margin h2-font">Get to know me as a professional</h2>

        <div class="flex-div" style="margin-top: 40px; margin-left: 10%">
            <button mat-raised-button>Download my Resume <i style="margin: 5px" class="fas fa-file-download"></i>
            </button>
            <button mat-raised-button (click)="openResumePdfDialog()">Show my Resume <i style="margin: 5px"
                    class="fas fa-long-arrow-alt-right"></i> </button>
        </div>
    </div>
</div>


<section class="merriweather bg-tech-skills">

    <div>
        <h2 style="text-align: center">Technical Skills</h2>
    </div>

    <div class="container">


        <div id="technologies" class="row">


            <div class="col-md-6">
                <ul class="no-bullets">


                    <li class="technology">
                        <span class="title">JavaScript</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>

                        </span>
                    </li>



                    <li class="technology">
                        <span class="title">Node.js</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>

                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Angular</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>

                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Java</span>
                        <span class="score">

                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>



                    <li class="technology">
                        <span class="title">Electron.js</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">socket.io</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Bootstrap</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Sequelize</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">SQL / MySQL / SQLite</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>


                </ul>
            </div>

            <div class="col-md-6">
                <ul class="no-bullets">

                    <li class="technology">
                        <span class="title">Software / Hardware QA</span>
                        <span class="score">

                            <i class="fas fa-circle  filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>



                    <li class="technology">
                        <span class="title">Scrum</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>
                    <li class="technology">
                        <span class="title">Unix / Linux</span>
                        <span class="score">

                            <i class="fas fa-circle  filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>
                    <li class="technology">
                        <span class="title">Object Oriented Programming</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">MVC Pattern</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Project Management</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</section>



<section class="merriweather bg-skills">

    <div class="row col-md-10 offset-md-1">

        <!---Skill column--->
        <div class="col-md-3">
            <div>
                <h2>Languages</h2>
            </div>
            <div class="flex-div-column">
                <div class="language">
                    <label>Spanish</label>
                    <spinner-container diameter="60" strokeWidth="5" value="100" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="language">
                    <label>English</label>
                    <spinner-container diameter="60" strokeWidth="5" value="85" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

            </div>
        </div>

        <!--Tool column--->
        <div class="col-md-7 offset-md-1">
            <div>
                <h2>Tools</h2>
            </div>
            <div class="tools-flex">
                <div class="tool">
                    <label> MS Office</label>
                    <spinner-container diameter="45" strokeWidth="4" value="100" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> VS Code</label>
                    <spinner-container diameter="45" strokeWidth="4" value="85" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> Version Control (Git) </label>
                    <spinner-container diameter="45" strokeWidth="4" value="75" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> Firefox / Chrome </label>
                    <spinner-container diameter="45" strokeWidth="4" value="100" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>
                <br>
                <div class="tool">
                    <label> Gimp </label>
                    <spinner-container diameter="45" strokeWidth="4" value="80" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> MobaXTerm </label>
                    <spinner-container diameter="45" strokeWidth="4" value="70" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> LaTeX </label>
                    <spinner-container diameter="45" strokeWidth="4" value="70" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> Visual Paradigm </label>
                    <spinner-container diameter="45" strokeWidth="4" value="70" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

            </div>
        </div>



    </div>
</section>



<section class="merriweather bg-work-experience">


    <div class="row col-md-10 offset-md-1">


        <div class="col-md-3">
            <h2>Work Experience</h2>
        </div>


        <div class="col-md-7 offset-md-1">
            <ul class="no-bullets list-margin">
                <li>
                    <label style="font-weight: bold; color: #007bff;"> QA SOFTWARE TESTING ENGINEER INTERN</label>
                    <br>
                    <label> February 2019 - August 2019</label>
                    <br>
                    <label><strong>Zennio Avance y Tecnología S.L. Toledo, Spain</strong></label>

                    <ul>
                        <li>Design test cases and suites for hardware software mixed systems.
                        </li>
                        <li>Execution of test suites to determine the validity and quality of a software application.
                        </li>
                        <li>Designed, implemented and tested a Raspberry Pi distributed system and management web
                            application
                            for <br> building complex domotic virtual hotel integrations. Ultimate goal isreplacing
                            expensive
                            physical domotic devices<br> in testing environments.
                        </li>
                        <li>Management app is formed by an Angular based client and a Node.js server used by the company
                            in
                            order <br>to configure and build virtual hotel integrations.</li>
                    </ul>

                </li>
                <li>

                    <label style="font-weight: bold; color: #007bff;"> MY NEXT STEP ...</label>
                    <br>

                </li>
            </ul>
        </div>
    </div>

</section>


<section class="merriweather bg-education">


    <div class="row col-md-10 offset-md-1">
        <div class="col-md-3">
            <h2>Education</h2>
        </div>

        <div class="col-md-7 offset-md-1">
            <ul class="no-bullets list-margin">
                <li>
                    <label style="font-weight: bold; color: #1A1A1A"> Bachelor
                        Degree of Computer Science - Specialization of Software Enineering</label>
                    <br>
                    <label> 2014 - 2019</label>
                    <br>
                    <label><strong>Universidad de Castilla La Mancha, Spain</strong></label>
                    <br>

                    <label>Relevant Coursework:</label>
                    <ul>
                        <li>Project Management, Quality Control, Information Systems Processes and Security, <br>
                            Databases
                            Design and Development, Software Engineering Design and Development Processes, Web
                            Development.</li>

                    </ul>

                </li>

            </ul>



        </div>
    </div>
</section>




<section class="merriweather bg-references">

    <div>
        <h2>References</h2>

        <h5> References avaliable on request</h5>

        <button style="font-size: 14px" mat-raised-button (click)="openEmailDialog()">Request them<i
                style="margin-left: 5px" class="far fa-envelope"></i> </button>
    </div>


    <div style="margin-top: -5%">


        <figure>
            <p style="font-size: 15px">
                <i> Despite lacking experience, Pablo has shown that he possesses the qualities and aptitudes necessary
                    to carry out<br> with excellence the objectives that he had set based on technologies that were
                    completely alien to him.<br> This has been
                    possible, without a doubt, thanks to his high potential in investigation, assimilation, approach
                    <br> tasks and adaptation of various development techniques, actively participating from the start
                    in the modeling <br> and design of the
                    project, whose final result brings high value to our company.</i>

            </p>
            <figcaption>Extract from reference letter<br>Daniel García García, Head of Software Quality Assurement
                Department at Zennio.<br> July, 2019</figcaption>
        </figure>

    </div>


</section>


<hr>

<section>

    <div class="row col-md-10 offset-md-1" style="padding-bottom: 20px">
        <div class="merriweather col-md-6 text-center">

            <label><i>This webpage is entirely made by me from scracth using Angular 8.</i></label>
            <br>
            <a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                href="https://github.com/PabloMoragaN/pmoraga-website"> Look up this project
                <i style="margin: 5px" class="fab fa-github"></i>
            </a>

        </div>


        <div class="merriweather col-md-6 text-center">


            <label><i>The server in charge on contact/email sending is also made by me using Express.js and
                    Node.js.</i></label>
            <br>
            <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="mailto:p.moraga.navas@gmail.com">
                Look up
                this project
                <i style="margin: 5px" class="fab fa-github"></i>
            </a>
        </div>


    </div>


</section>