<div class="container-fluid text-center masthead merriweather">
    <div class="masthead-column">
        <h1 class="margin h1-font">My Resume</h1>
        <h2 class="margin h2-font">Get to know me as a professional</h2>

        <div class="flex-div" style="margin-top: 40px; margin-left: 10%">
            <button mat-raised-button>Download my Resume <i style="margin: 5px" class="fas fa-file-download"></i>
            </button>
            <button mat-raised-button (click)="openResumePdfDialog()">Show my Resume <i style="margin: 5px"
                    class="fas fa-long-arrow-alt-right"></i> </button>
        </div>
    </div>
</div>


<section class="merriweather bg-tech-skills">

    <div>
        <h2 style="text-align: center">Technical Skills</h2>
    </div>

    <div class="container">


        <div data-aos="fade-up" data-aos-once="true" id="technologies" class="row">


            <div class="col-md-6">
                <ul class="no-bullets">


                    <li class="technology">
                        <span class="title">JavaScript</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>

                        </span>
                    </li>



                    <li class="technology">
                        <span class="title">Node.js</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>

                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Angular</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>

                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Java</span>
                        <span class="score">

                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>



                    <li class="technology">
                        <span class="title">Electron.js</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>


                    
                    <li class="technology">
                        <span class="title">JSON</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Git / GitHub / GitLab</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>
                    <li class="technology">
                        <span class="title">socket.io</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Bootstrap</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Sequelize</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">SQL / MySQL / SQLite</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled "></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>


                </ul>
            </div>

            <div class="col-md-6">
                <ul class="no-bullets">

                    <li class="technology">
                        <span class="title">Software / Hardware QA</span>
                        <span class="score">

                            <i class="fas fa-circle  filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>



                    <li class="technology">
                        <span class="title">Scrum</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>
                    <li class="technology">
                        <span class="title">Unix / Linux</span>
                        <span class="score">

                            <i class="fas fa-circle  filled "></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>
                    <li class="technology">
                        <span class="title">Object Oriented Programming</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">MVC Pattern</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                    <li class="technology">
                        <span class="title">Project Management</span>
                        <span class="score">
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle filled"></i>
                            <i class="fas fa-circle "></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</section>



<section class="merriweather bg-skills">

    <div class="row col-md-10 offset-md-1">

        <!---Skill column--->
        <div data-aos="fade-right" data-aos-once="true" class="col-md-3">
            <div>
                <h2>Languages</h2>
            </div>
            <div  class="flex-div-column">
                <div class="language">
                    <label>Spanish</label>
                    <spinner-container diameter="60" strokeWidth="5" value="100" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div  class="language">
                    <label>English</label>
                    <spinner-container diameter="60" strokeWidth="5" value="85" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

            </div>
        </div>

        <!--Tool column--->
        <div data-aos="fade-left" data-aos-once="true" class="col-md-7 offset-md-1">
            <div>
                <h2>Tools</h2>
            </div>
            <div class="tools-flex">
                <div class="tool">
                    <label> MS Office</label>
                    <spinner-container diameter="45" strokeWidth="4" value="100" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> VS Code</label>
                    <spinner-container diameter="45" strokeWidth="4" value="85" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> Version Control (Git) </label>
                    <spinner-container diameter="45" strokeWidth="4" value="75" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> Firefox / Chrome </label>
                    <spinner-container diameter="45" strokeWidth="4" value="100" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>
                <br>
                <div class="tool">
                    <label> Gimp </label>
                    <spinner-container diameter="45" strokeWidth="4" value="80" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> MobaXTerm </label>
                    <spinner-container diameter="45" strokeWidth="4" value="70" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> LaTeX </label>
                    <spinner-container diameter="45" strokeWidth="4" value="70" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

                <div class="tool">
                    <label> Visual Paradigm </label>
                    <spinner-container diameter="45" strokeWidth="4" value="70" [displayWith]="spinnerValue">
                    </spinner-container>
                </div>

            </div>
        </div>



    </div>
</section>



<section class="merriweather bg-work-experience">

    <div class="col-md-10 offset-md-1">
        <h3 style="color: #007bff"> Work Experience</h3>
    </div>


    <div class="experiences col-md-10 offset-md-1">

        <div class="experience row">
            <div class="col-md-4">


                <h4><strong>Zennio</strong></h4>
                <p class="period">
                    February 2019 - August 2019
                </p>

            </div>

            <div  class="col-md-8">

                <strong>
                    QA Software Testing Engineer Intern
                </strong>

                <ul  class="no-bullets list-margin-mini">
                    <li>Design test cases and suites for hardware software mixed systems.
                    </li>
                    <li>Execution of test suites to determine the validity and quality of a software application.
                    </li>
                    <li>Designed, implemented and tested a Raspberry Pi distributed system and management web
                        application
                        for <br> building complex domotic virtual hotel integrations. Ultimate goal is replacing
                        expensive
                        physical domotic devices<br> in testing environments.
                    </li>
                    <li>Management app is formed by an Angular based client and a Node.js server used by the company
                        in
                        order <br>to configure and build virtual hotel integrations.</li>
                </ul>
                <span class="experience-details">
                    <span class="location">
                        <span style="margin-right: 5px"> <i class="fas fa-map-marker-alt"></i> </span>
                        Toledo, Spain
                    </span>



                    <span class="separator">|</span>
                    <span class="link">
                        <span style="margin-right: 5px"><i class="fas fa-link"></i></span>
                        <a href="https://www.zennio.com/" target="_blank">https://www.zennio.com</a>
                    </span>



                </span>
            </div>
        </div>


    </div>



</section>


<section class="merriweather bg-education">


    <div class="col-md-10 offset-md-1">
        <h3 style="color: #007bff"> Education</h3>
    </div>





    <div class="experiences col-md-10 offset-md-1">

        <div class="experience row">
            <div class="col-md-4">


                <h5><strong>Universidad de Castilla La-Mancha</strong></h5>
                <p class="period">
                    2014 - 2019
                </p>
            </div>


            <div  class="col-md-8">
                <strong>
                    Bachelor
                    Degree of Computer Science - Specialization of Software Engineering
                </strong>
                <br>
                <label> Relevant Coursework:</label>

                <ul  class="no-bullets list-margin-mini">
                    <li>Project Management, Quality Control, Information Systems Processes and Security, <br>
                        Databases
                        Design and Development, Software Engineering Design and Development Processes, Web
                        Development.</li>
                </ul>
                <span class="experience-details">
                    <span class="location">
                        <span style="margin-right: 5px"> <i class="fas fa-map-marker-alt"></i> </span>
                        Ciudad Real, Spain
                    </span>



                    <span class="separator">|</span>
                    <span class="link">
                        <span style="margin-right: 5px"><i class="fas fa-link"></i></span>
                        <a href="http://webpub.esi.uclm.es/" target="_blank">http://webpub.esi.uclm.es/</a>
                    </span>
                </span>

            </div>
        </div>
    </div>
  
</section>




<section class="merriweather bg-references">

    <div>
        <h2>References</h2>

        <h5> References avaliable on request</h5>

        <button style="font-size: 14px" mat-raised-button (click)="openEmailDialog()">Request them<i
                style="margin-left: 5px" class="far fa-envelope"></i> </button>
    </div>


    <div style="margin-top: -5%">


        <figure>
            <p style="font-size: 15px">
                <i> Despite lacking experience, Pablo has shown that he possesses the qualities and aptitudes necessary
                    to carry out<br> with excellence the objectives that he had set based on technologies that were
                    completely alien to him.<br> This has been
                    possible, without a doubt, thanks to his high potential in investigation, assimilation, approach
                    <br> tasks and adaptation of various development techniques, actively participating from the start
                    in the modeling <br> and design of the
                    project, whose final result brings high value to our company.</i>

            </p>
            <figcaption>Extract from reference letter<br>Daniel García García, Head of Software Quality Assurement
                Department at Zennio.<br> July, 2019</figcaption>
        </figure>

    </div>


</section>


<hr>

<section>

    <div class="row col-md-10 offset-md-1" style="padding-bottom: 20px">
        <div class="merriweather col-md-6 text-center">

            <label><i>This webpage is entirely made by me from scracth using Angular 8.</i></label>
            <br>
            <a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                href="https://github.com/PabloMoragaN/pmoraga-website"> Look up this project
                <i style="margin: 5px" class="fab fa-github"></i>
            </a>

        </div>


        <div class="merriweather col-md-6 text-center">


            <label><i>The server in charge on contact/email sending is also made by me using Express.js and
                    Node.js.</i></label>
            <br>
            <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="https://github.com/PabloMoragaN/pmoraga-backend">
                Look up
                this project
                <i style="margin: 5px" class="fab fa-github"></i>
            </a>
        </div>


    </div>


</section>