<section class="merriweather bg-tech-skills">

    <div class="flex-div">
        <div>
            <h2>Technical Skills</h2>
        </div>

        <div class="technical-skills">

            <!---Skill column--->
            <div>
                <div class="skill">
                    <label> JavaScript</label>
                    <spinner-container diameter="60" strokeWidth="5" value="60" [displayWith]="spinnerValue"></spinner-container>
                </div>

                <div class="skill">
                    <label> Node.js</label>
                    <spinner-container diameter="60" strokeWidth="5" value="60" [displayWith]="spinnerValue"></spinner-container>
                </div>

                <div class="skill">
                    <label> Angular</label>
                    <spinner-container diameter="60" strokeWidth="5" value="60" [displayWith]="spinnerValue"></spinner-container>
                </div>

                <div class="skill">
                    <label> Unix & Linux</label>
                    <spinner-container diameter="60" strokeWidth="5" value="65" [displayWith]="spinnerValue"></spinner-container>
                </div>
            </div>

            <!---Skill column--->
            <div>
                <div class="skill">
                    <label> Java</label>
                    <spinner-container diameter="60" strokeWidth="5" value="60" [displayWith]="spinnerValue"></spinner-container>
                </div>

                <div class="skill">
                    <label> Scrum</label>
                    <spinner-container diameter="60" strokeWidth="5" value="80" [displayWith]="spinnerValue"></spinner-container>
                </div>
                <div class="skill">
                    <label>Software / Hardware QA</label>
                    <spinner-container diameter="60" strokeWidth="5" value="70" [displayWith]="spinnerValue"></spinner-container>
                </div>
            </div>

        </div>

    </div>
</section>

<div>
    <ngx-extended-pdf-viewer [src]="'../../../assets/files/PabloMoragaNavas-CV.pdf'" useBrowserLocale="true" height="100vh">
    </ngx-extended-pdf-viewer>
</div>


<section class="merriweather bg-tech-skills">

    <label>YEET</label>
    <label>YEET</label>


</section>