.bg-tech-skills {
    height: 500px;
    text-align: center;
    background-color: white;
    color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    -webkit-font-smoothing: subpixel-antialiased;
}

.technical-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.technical-skills>* {
    margin: 20px;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.skill>* {
    margin: 30px;
}

.skill .label {
    font-size: 12px;
}


/*******/

.flex-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.flex-div>* {
    margin: 10px;
    width: 100%;
}


/********/

.bg-resume-pdf {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #F0F0F0;
    color: #1A1A1A;
}


/******/

.example-h2 {
    margin: 24px 0;
}

.example-h2 .spinner-examples {
    display: flex;
}

.example-h2 .spinner-examples .spinner-container {
    margin-right: 24px;
}


/*******/

.bg-work-experience {
    background-color: #F0F0F0;
    color: #1A1A1A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    -webkit-font-smoothing: subpixel-antialiased;
}

.bg-work-experience>* {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-div-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-div-row>* {
    margin-top: 20px;
    margin-bottom: 20px;
}


/****/

.bg-education {
    background-color: white;
    color: #1A1A1A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    -webkit-font-smoothing: subpixel-antialiased;
}

.bg-education>* {
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-CV {
    font-size: 20px;
    width: 30%;
    text-align: center;
}

.button-CV:hover {
    color: #007bff;
}


/******/

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../../../assets/images/resume/masthead-resume2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
}

.masthead-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin-top: 10%;
    margin-left: 5%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.h1-font {
    font-size: 100px;
    color: white;
    -webkit-font-smoothing: subpixel-antialiased;
}

.h2-font {
    font-size: 80px;
    color: white;
    -webkit-font-smoothing: subpixel-antialiased;
}

.bg-skills {
    height: 500px;
    text-align: center;
    background-color: #F0F0F0;
    color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    -webkit-font-smoothing: subpixel-antialiased;
}

.bg-references {
    height: auto;
    min-height: 500px;
    background-color: #F0F0F0;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: #1A1A1A;
}